@media (min-width: 992px) {
	body {
		background-image: url('omfgdogs.gif');
	}
	p {
		visibility: hidden;
	}
}
@media all {
	.footer{
		width: 99%;
	    position:fixed;
	    bottom:0px;
	    text-align: right;
	    background-color: white;
	}
}